In [1]:
class car():
    name='Aura'
    brand='x'
s=car()
print(car.name)
print(car.brand)

Aura
x

In [7]:
#creating class
class student():
    #parameterized constructor
    #Attributes
    college_name='Avantika'
    name='priya' #class attr
    
    def __init__(self,name,marks):
        self.name=name   #ohj attr>class
        self.marks=marks
#name,marks - attributes
#creating object

s1=student('sneha',97)
print(s1.name, s1.marks)

s2=student('mona',89)
print(s2.name,s2.marks)

sneha 97
mona 89

In [9]:
class student():

    college_name='Avantika'
    name='priya'
    
    def __init__(self,name,marks):
        self.name=name   #ohj attr>class
        self.marks=marks

    def welcome(self):
        print('Welcome student')

    def get_marks(self):
        return self.marks
        
s1=student('sneha',97)
print(s1.name, s1.marks)

s2=student('mona',89)
print(s2.name,s2.marks)
s2.welcome()
s2.get_marks()

sneha 97
mona 89
Welcome student

89

In [20]:
class Student():
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

    def get_avg(self):
        sum=0
        for mark in self.marks:
            sum+=mark
        print('Average marks : ',sum/3)

s1=Student('sneha',[90,89,99])
print(s1.name,s1.marks)
s1.get_avg()

s2=Student('payal',[45,70,89])
print(s2.name,s2.marks)
s2.get_avg()

sneha [90, 89, 99]
Average marks :  92.66666666666667
payal [45, 70, 89]
Average marks :  68.0

In [23]:
#static method
#don't use self parameter
class Student():
    @staticmethod   #decorator
    def college():
        print('MIT')

s1=Student()
s1.college()

MIT

In [5]:
class cat():
    
    #Attributes
    name='kitty'
    color='black'

    #Method
    def Meow(self):
        print('Meow!')

#Instance
obj=cat()
print(obj.name, obj.color)

obj.Meow()

kitty black
Meow!

In [8]:
#Abstraction (hide implementation details)
class car():
    def __init__(self):
        self.acc=False
        self.clutch=False
        self.brk=False

    def start(self):
        self.acc=True
        self.clutch=True
        print('Car started!')

obj=car()
obj.start()

Car started!

In [11]:
class Account():
    def __init__(self,balance,account_no):
        self.balance = balance
        self.account_no = account_no

acc1=Account(10000,123456)
print(acc1.balance, acc1.account_no)

acc2=Account(50000,7587)
print(acc2.balance, acc2.account_no)

10000 123456
50000 7587

In [19]:
class Account():
    def __init__(self,balance,account_no):
        self.balance = balance
        self.account_no = account_no

    def credit(self,amount):
        self.balance+=amount
        return 'Credited','Available balance = ',self.balance

    def debit(self,amount):
        self.balance-=amount
        return 'Debited','Available balance = ',self.balance

acc1=Account(10000,123456)
print(acc1.balance, acc1.account_no)
print(acc1.credit(5000))
print(acc1.debit(500))

10000 123456
('Credited', 'Available balance = ', 15000)
('Debited', 'Available balance = ', 14500)

In [28]:
#Without Static method

class Student():
    def __init__(self):
        self.name='sneha'
    
    def college(self):
        return 'MIT'

s1=Student()
s1.college()

'MIT'

In [35]:
#private info
class person():
    __name='sneha'

    def __hello(self):
        return 'hello person'

    def welcome(self):
        self.__hello()

p1=person()
print(p1.name)
p1.hello()

AttributeError: 'person' object has no attribute 'name'

In [39]:
#private info
class person():
    __name='sneha'

    def __hello(self):
        print('hello person')

    def welcome(self):
        self.__hello()

p1=person()
print(p1.welcome())

hello person
None

In [53]:
#Inheritance
class Car:
    color='black'
    @staticmethod
    def start():
        print("Car started..")
    @staticmethod
    def stop():
        print("Car stopped..")

class ToyataCar(Car):
    def __init__(self,name):
        self.name=name
        
car1=ToyataCar('fortuner')
print(car1.name)
car1.start()
car1.stop()
print(car1.color)

car2=ToyataCar('prius')
print(car2.name)
car2.start()
car2.stop()

fortuner
Car started..
Car stopped..
black
prius
Car started..
Car stopped..

In [54]:
#Inheritance
class Car:
    color='black'
    @staticmethod
    def start():
        print("Car started..")
    @staticmethod
    def stop():
        print("Car stopped..")
        
class ToyataCar(Car):
    def __init__(self,name):
        self.name=name
        
car1=ToyataCar('fortuner')
print(car1.name)
car1.start()
car1.stop()
print(car1.color)

car2=ToyataCar('prius')
print(car2.name)
car2.start()
car2.stop()

fortuner
Car started..
Car stopped..
black
prius
Car started..
Car stopped..

In [57]:
#Multi level inheritance
class Car:
    color='black'
    @staticmethod
    def start():
        print("Car started..")
    @staticmethod
    def stop():
        print("Car stopped..")
        
class ToyataCar(Car):
    def __init__(self,brand):
        self.brand = brand

class Fortuner(ToyataCar):
    def __init__(self,type):
        self.type=type

car1 = Fortuner('diesel')
print(car1.type)
car1.start()

diesel
Car started..

In [63]:
#Multi level inheritance
class A():
    var1=print('class I')

class B():
    var2=print('class II')

class C(A,B):
    var3=print('class III')

obj=C()
print(obj.var1,obj.var2,obj.var3)

class I
class II
class III
None None None

In [73]:
#Super
class Car:
    def __init__(self,type):
        self.type = type
        
    @staticmethod
    def start():
        print("Car started..")
    @staticmethod
    def stop():
        print("Car stopped..")
        
class ToyataCar(Car):
    def __init__(self,name,type):
        super().__init__(type)
        super().start()
        self.name=name
        
        
car1=ToyataCar('fortuner','electric')
print(car1.name, car1.type)

Car started..
fortuner electric

In [77]:
#to change class attributes
class person():
    name='sneha'

    def change_name(self,name):
        self.name=name

p1=person()
p1.change_name('bhumi')
print(p1.name)
print(person.name)

bhumi
sneha

In [78]:
#to change class attributes
class person():
    name='sneha'

    def change_name(self,name):
        person.name=name 

p1=person()
p1.change_name('bhumi')
print(p1.name)
print(person.name)

bhumi
bhumi

In [79]:
#to change class attributes
#by @class method
class person():
    name='sneha'

    @classmethod
    def change_name(cls,name):
        cls.name=name

p1=person()
p1.change_name('bhumi')
print(p1.name)
print(person.name)

bhumi
bhumi

In [91]:
class circle():
    def __init__(self,radius):
        self.radius=radius

    def area(self):
        self.area=3.14*self.radius*self.radius
        return self.area

    def peri(self):
        self.peri=2*3.14*self.radius
        return self.peri

c1=circle(4)

print(c1.area())
print(c1.peri())

50.24
25.12

In [96]:
class Employee():
    def __init__(self,role,dept,salary):
        self.role=role
        self.dept=dept
        self.salary=salary

    def show_details(self):
        print('Role of Employee : ',self.role)
        print('Department of Employee : ',self.dept)
        print('Salary of Employee : ',self.salary)

class Engineer(Employee):
    def __init__(self,name,age,role,dept,salary):
        super().__init__(role,dept,salary)
        self.name=name
        self.age=age

E1=Engineer('rahul',20,'Assist','LU23',40000)

E1.show_details()

rahul 20 Assist LU23 40000
Role of Employee :  Assist
Department of Employee :  LU23
Salary of Employee :  40000

In [113]:
class person():
    def __init__(self,name):
        self.name=name

    #Magic word
    def __len__(self):
        return len(self.name)

    def __lt__(self,other):
        return self.id<other.id

class AU_person(person):
    new_enroll=1
    def __init__(self,name):
        super().__init__(name)
        self.id=AU_person.new_enroll
        AU_person.new_enroll+=1
        self._enroll='AU23B100'+str(self.id)

    def get_id(self):
        return self._enroll

S1=AU_person('Aditya')
print(S1.name)
print(S1.get_id())

S2=AU_person('Sneha')
print(S2.name)
print(S2.get_id())

print(len(S1))
print(S1>S2)

Aditya
AU23B1001
Sneha
AU23B1002
6
False

In [118]:
from datetime import datetime
class DOB():
    def __init__(self,year,month,date):
        self.year=year
        self.month=month
        self.date=date

class Person():
    def get_age(self,name,dob):
        self.name=name
        self.dob=dob
        today=datetime.now().date()
        age=today.year-self.dob.year
        return age

dob=DOB(2004,3,11)
obj1=Person()
print(obj1.get_age('sneha',dob))

20

In [3]:
class Individual():
    def __init__(self,name):
        self.namae=name
        self.birthday=None

    def get_name(self,name):
        return self.name

    def add_birthday(self,birthday):
        self.birthday=birthday

    def get_age(self,name,dob):
        self.name=name
        self.dob=dob
        today=datetime.now().date()
        age=today.year-self.dob.year
        return age

    def __str__(self):
        return str('Name : ' self.name, ' Birthday : 'self.birthday)

class AU_Employee(Individual):
    _new_enroll = 1
    
    def __init__(self, name):
        super().__init__(name)
        self.id = AU_Employee._new_enroll
        AU_Employee._new_enroll += 1
        self._strval = 'AU23B100' + str(self.id)
    
    def get_unique_id(self):
       return self._strval


class Faculty(AU_Employee):
    pass


class EN_Faculty(Faculty):
    def __init__(self, name, classroom_year):
        super().__init__(name)
        self.classroom_year = classroom_year

    def assign_class(self):
        return self.classroom_year 


class Roster_AU():
    def __init__(self):
        self.faculties = []
        self.course_assign = {}

    def add_faculty(self,faculty_type, faculty):
        self.faculty_type = faculty_type
        if faculty not in self.faculties:
            self.faculties.append(faculty)
            self.course_assign[faculty] = []

    def add_course(self, faculty, course):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        self.course_assign[faculty].append(course)

    def get_courses(self, faculty):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        return self.course_assign[faculty]

    def get_sorted_list(self):
        return sorted(self.course_assign.keys(), key=lambda x: x.get_name())
        

faculty1 = EN_Faculty("Sneha", "2024")
faculty2 = EN_Faculty("Jane Smith", "2023")

roster = Roster_AU()

roster.add_faculty(faculty1)
roster.add_faculty(faculty2)

# Add courses for faculty
roster.add_course(faculty1, "Math")
roster.add_course(faculty1, "Science")
roster.add_course(faculty2, "English")

# Get courses for faculty
print(roster.get_courses(faculty1))  # Output: ['Math', 'Science']

# Get sorted list of faculties
print(roster.get_sorted_faculties())  # Output: [EN_Faculty(Name: Jane Smith, Birthday: None, Classroom Year: 2023), EN_Faculty(Name: John Doe, Birthday: None, Classroom Year: 2024)]

TypeError: Individual.__init__() missing 1 required positional argument: 'name'

In [7]:
from datetime import datetime

class Individual:
    def __init__(self, name):
        self.name = name
        self.birthday = None

    def get_name(self):
        return self.name

    def add_birthday(self, birthday):
        self.birthday = birthday

    def get_age(self):
        today = datetime.now().date()
        age = today.year - self.birthday.year
        return age

    def __str__(self):
        return f"Name: {self.name}, Birthday: {self.birthday}"

class AU_Employee(Individual):
    _new_enroll = 1
    
    def __init__(self, name):
        super().__init__(name)
        self.id = AU_Employee._new_enroll
        AU_Employee._new_enroll += 1
        self._strval = 'AU23B100' + str(self.id)
    
    def get_unique_id(self):
        return self._strval

class Faculty(AU_Employee):
    pass

class EN_Faculty(Faculty):
    def __init__(self, name, classroom_year):
        super().__init__(name)
        self.classroom_year = classroom_year

    def assign_class(self):
        return self.classroom_year 

class Roster_AU:
    def __init__(self):
        self.faculties = []
        self.course_assign = {}

    def add_faculty(self, faculty):
        if faculty not in self.faculties:
            self.faculties.append(faculty)
            self.course_assign[faculty] = []

    def add_course(self, faculty, course):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        self.course_assign[faculty].append(course)

    def get_courses(self, faculty):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        return self.course_assign[faculty]

    def get_sorted_list(self):
        return sorted(self.course_assign.keys(), key=Individual.get_name)

# Example usage:
faculty1 = EN_Faculty("Sneha", "2024")
faculty2 = EN_Faculty("Jane Smith", "2023")

roster = Roster_AU()

roster.add_faculty(faculty1)
roster.add_faculty(faculty2)

# Add courses for faculty
roster.add_course(faculty1, "Math")
roster.add_course(faculty1, "Science")
roster.add_course(faculty2, "English")
print("Faculties with Courses:")
for faculty in roster.get_sorted_faculties_with_courses():
    print(f"{faculty.get_name()}: {roster.get_courses(faculty)}")

Faculties with Courses:

AttributeError: 'Roster_AU' object has no attribute 'get_sorted_faculties_with_courses'

In [4]:
class Individual():
    def __init__(self,name):
        self.name=name
        self.birthday=None

    def get_name(self,name):
        return self.name

    def add_birthday(self,birthday):
        self.birthday=birthday

    def get_age(self,name,dob):
        self.name=name
        self.dob=dob
        today=datetime.now().date()
        age=today.year-self.dob.year
        return age

    def __str__(self):
        return str('Name : ', self.name, ' Birthday : ',self.birthday)

class AU_Employee(Individual):
    _new_enroll = 1
    
    def __init__(self, name):
        super().__init__(name)
        self.id = AU_Employee._new_enroll
        AU_Employee._new_enroll += 1
        self._strval = 'AU23B100' + str(self.id)
    
    def get_unique_id(self):
       return self._strval


class Faculty(AU_Employee):
    pass


class EN_Faculty(Faculty):
    def __init__(self, name, classroom_year):
        super().__init__(name)
        self.classroom_year = classroom_year

    def assign_class(self):
        return self.classroom_year 

class Roster_AU():
    def __init__(self):
        self.faculties = []
        self.course_assign = {}

    def add_faculty(self, faculty_type, faculty):
        if faculty not in self.faculties:
            self.faculties.append(faculty)
            self.course_assign[faculty] = []
        else:
            raise ValueError("Faculty already exists in the roster.")

    def add_course(self, faculty, course):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        self.course_assign[faculty].append(course)

    def get_courses(self, faculty):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        return self.course_assign[faculty]

    def get_sorted_faculties(self):
        def sort_key(faculty):
            return faculty.get_name()
        
        return sorted(self.course_assign.keys(), key=sort_key)

In [5]:
from datetime import datetime

class Individual():
    def __init__(self, name):
        self.name = name
        self.birthday = None

    def get_name(self):
        return self.name

    def add_birthday(self, birthday):
        self.birthday = birthday

    def get_age(self):
        today = datetime.now().date()
        age = today.year - self.birthday.year
        return age

    def __str__(self):
        return f'Name : {self.name}, Birthday : {self.birthday}'

class AU_Employee(Individual):
    _new_enroll = 1
    
    def __init__(self, name):
        super().__init__(name)
        self.id = AU_Employee._new_enroll
        AU_Employee._new_enroll += 1
        self._strval = 'AU23B100' + str(self.id)
    
    def get_unique_id(self):
        return self._strval

class Faculty(AU_Employee):
    pass

class EN_Faculty(Faculty):
    def __init__(self, name, classroom_year):
        super().__init__(name)
        self.classroom_year = classroom_year

    def assign_class(self):
        return self.classroom_year 

class Roster_AU():
    def __init__(self):
        self.faculties = []
        self.course_assign = {}

    def add_faculty(self, faculty_type, faculty):
        if faculty not in self.faculties:
            self.faculties.append(faculty)
            self.course_assign[faculty] = []
        else:
            raise ValueError("Faculty already exists in the roster.")

    def add_course(self, faculty, course):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        self.course_assign[faculty].append(course)

    def get_courses(self, faculty):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        return self.course_assign[faculty]

    def get_sorted_faculties(self):
        def sort_key(faculty):
            return faculty.get_name()
        
        return sorted(self.course_assign.keys(), key=sort_key)

faculty1 = EN_Faculty("Sneha", "2024")
faculty2 = EN_Faculty("Jane Smith", "2023")

roster = Roster_AU()

roster.add_faculty(faculty1)
roster.add_faculty(faculty2)

# Add courses for faculty
roster.add_course(faculty1, "Math")
roster.add_course(faculty1, "Science")
roster.add_course(faculty2, "English")
print("Faculties with Courses:")
for faculty in roster.get_sorted_faculties_with_courses():
    print(f"{faculty.get_name()}: {roster.get_courses(faculty)}")

TypeError: Roster_AU.add_faculty() missing 1 required positional argument: 'faculty'

In [9]:
from datetime import datetime

class Individual():
    def __init__(self, name):
        self.name = name
        self.birthday = None

    def get_name(self):
        return self.name

    def add_birthday(self, birthday):
        self.birthday = birthday

    def get_age(self):
        today = datetime.now().date()
        age = today.year - self.birthday.year
        return age

    def __str__(self):
        return f'Name : {self.name}, Birthday : {self.birthday}'

class AU_Employee(Individual):
    _new_enroll = 1
    
    def __init__(self, name):
        super().__init__(name)
        self.id = AU_Employee._new_enroll
        AU_Employee._new_enroll += 1
        self._strval = 'AU23B100' + str(self.id)
    
    def get_unique_id(self):
        return self._strval

class Faculty(AU_Employee):
    pass

class EN_Faculty(Faculty):
    def __init__(self, name, classroom_year):
        super().__init__(name)
        self.classroom_year = classroom_year

    def assign_class(self):
        return self.classroom_year 

class Roster_AU():
    def __init__(self):
        self.faculties = []
        self.course_assign = {}

    def add_faculty(self, faculty):
        if faculty not in self.faculties:
            self.faculties.append(faculty)
            self.course_assign[faculty] = []
        else:
            raise ValueError("Faculty already exists in the roster.")

    def add_course(self, faculty, course):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        self.course_assign[faculty].append(course)

    def get_courses(self, faculty):
        if faculty not in self.course_assign:
            raise ValueError("Faculty not in mapping")
        return self.course_assign[faculty]

    def get_sorted_faculties(self):
        def sort_key(faculty):
            return faculty.get_name()
        
        return sorted(self.course_assign.keys(), key=sort_key)

    def get_sorted_faculties_with_courses(self):
        sorted_faculties = self.get_sorted_faculties()
        faculties_with_courses = {}
        for faculty in sorted_faculties:
            courses = self.get_courses(faculty)
            faculties_with_courses[faculty] = courses
        return faculties_with_courses

faculty1 = EN_Faculty("Rushikesh Pawar", 2024)
faculty2 = EN_Faculty("Rahul Thakur", 2024)
faculty3 = EN_Faculty("Varshali Jaiswal", 2024)

roster = Roster_AU()

roster.add_faculty(faculty1)
roster.add_faculty(faculty2)
roster.add_faculty(faculty3)

roster.add_course(faculty1, "ITC")
roster.add_course(faculty1, "DT")
roster.add_course(faculty2, "POE")
roster.add_course(faculty3, "FOP")
print("Faculties with Courses:")
for faculty in roster.get_sorted_faculties_with_courses():
    print(f"{faculty.get_name()}: {roster.get_courses(faculty)}")

Faculties with Courses:
Rahul Thakur: ['POE']
Rushikesh Pawar: ['ITC', 'DT']
Varshali Jaiswal: ['FOP']

In [10]:
faculty1 = EN_Faculty("Rushikesh Pawar", 2024)
faculty2 = EN_Faculty("Rahul Thakur", 2023)

roster = Roster_AU()

roster.add_faculty(faculty1)
roster.add_faculty(faculty2)

roster.add_course(faculty1, "ITC")
roster.add_course(faculty1, "DT")
roster.add_course(faculty2, "POE")

print("Faculties with Courses:")
for faculty, courses in roster.get_sorted_faculties_with_courses().items():
    print(f"{faculty}: {courses}")

Faculties with Courses:
Name : Rahul Thakur, Birthday : None: ['POE']
Name : Rushikesh Pawar, Birthday : None: ['ITC', 'DT']